body{
    margin:0;
    padding:0;
}

#mainBody{
    display: flex;
    flex-direction: column;
    width:100vw;
    align-items: center;
}
/* Smart phone settings */

/* Title Related Elements */
#diceGameTitle{
    margin-top: 15px;
    display: flex;
    width: fit-content;
    gap: 10px;
    margin-bottom: 50px;
}
#diceGameTitleIcon{
    display: flex;
    width:fit-content;
}
#diceGameTitleText{
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family:cursive;

}
.titleDie{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
    border: 2px solid red;
    background-color: #212529;
    padding: 6px;
    border-radius: 10px;
    position: relative;
}
.dieDot{
    height: 10px;
    width: 10px;
    background-color: red;
    border-radius: 50%;
}
/* Main content of the website */
#playerContainer{
    display: flex;
    flex-direction: row;
    gap: 80px;
}
.player{
    display: flex;
    flex-direction: column;
}
.playerButton{
    text-emphasis: none;
    user-select: none;
    opacity: 0.7;
    height: fit-content;
    padding: 10px;

}
.playerButton:hover{
    opacity: 1;
}
.playerDie{
    font-size: x-large;
    display: flex;
    justify-content: center;
}
.playerText{
    font-size: large;
    font-family: cursive;
    text-emphasis: none;
    user-select: none;
}
.playerDie h1{
    text-align: center;
}
.playerButton h1{
    text-align:center;
    color: red;
}
/* Text between title and dice */
#gameText h1{
    font-family: cursive;
    font-size: x-large;
    margin-bottom: 30px;
}